<mat-card  fxLayout="row" fxLayoutAlign="start start" class=" pxs-5  mat-elevation-z0" >

    <!-- ARMARIO -->
    <div fxFlex="30" class="mrs-3 prs-2 box-toolboard">
        <h1>Armario</h1>
        <mat-accordion  >
            <!-- MATRACES -->
            <mat-expansion-panel class="mb-0 mat-elevation-z0">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    Matraces
                </mat-panel-title>
                <mat-panel-description fxFlex="20">
                  <mat-icon class="icon-size-description-panel" [svgIcon]="this.matraces[0].icon" ></mat-icon>
                </mat-panel-description>
                
              </mat-expansion-panel-header>
              <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end" class="mts-1 pbs-1 item-toolboard-box">
                  <div class="mxs-2 mys-2"  *ngFor="let matraz of this.matraces" [cdkDragData]="matraz" cdkDrag>
                      <app-sim-item [iconSvg]="matraz.icon" [vol]="matraz.vol"  [name]="matraz.name" [id]="matraz.id" [unit]="matraz.unit" [volMax]="matraz.volMax"></app-sim-item>
                  </div>
              </div>
            </mat-expansion-panel>
             <!-- PIPETAS -->
             <mat-expansion-panel class="mb-0 mat-elevation-z0">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    Pipetas
                </mat-panel-title>
                <mat-panel-description fxFlex="20">
                  <mat-icon class="icon-size-description-panel" [svgIcon]="this.pipetas[0].icon" ></mat-icon>
                </mat-panel-description>
                
              </mat-expansion-panel-header>
              <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end"class="mts-1 pbs-1 item-toolboard-box">
                  <div class="mxs-2 mys-2" *ngFor="let pipeta of this.pipetas" [cdkDragData]="pipeta"  cdkDrag>
                    <app-sim-item [iconSvg]="this.pipeta.icon" [vol]="this.pipeta.vol" [iconSvgClass]="this.pipeta.iconClass" [name]="this.pipeta.name" [id]="this.pipeta.id" [unit]="this.pipeta.unit" [volMax]="this.pipeta.volMax"></app-sim-item>
                  </div>
              </div>

            </mat-expansion-panel>
             <!-- ERLENMEYER -->
             <mat-expansion-panel class="mb-0 mat-elevation-z0">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    Erlenmeyers
                </mat-panel-title>
                <mat-panel-description fxFlex="20">
                  <mat-icon class="icon-size-description-panel" [svgIcon]="this.erlenmeyers[0].icon" ></mat-icon>
                </mat-panel-description>
                
              </mat-expansion-panel-header>
              <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end" class="mts-1 pbs-1 item-toolboard-box">
                  <div class="mxs-2 mys-2" *ngFor="let erlenmeyer of this.erlenmeyers" [cdkDragData]="erlenmeyer"  cdkDrag>
                    <app-sim-item [iconSvg]="this.erlenmeyer.icon" [vol]="this.erlenmeyer.vol" [iconSvgClass]="this.erlenmeyer.iconClass" [name]="this.erlenmeyer.name" [id]="this.erlenmeyer.id" [unit]="this.erlenmeyer.unit" [volMax]="this.erlenmeyer.volMax"></app-sim-item>
                  </div>
              </div>

            </mat-expansion-panel>
             <!-- Vaso de Precipitados -->
             <mat-expansion-panel class="mb-0 mat-elevation-z0">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    Vaso de Precipitados
                </mat-panel-title>
                <mat-panel-description fxFlex="20">
                  <mat-icon class="icon-size-description-panel" [svgIcon]="this.vasoDePrecipitados[0].icon" ></mat-icon>
                </mat-panel-description>
                
              </mat-expansion-panel-header>
              <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end" class="mts-1 pbs-1 item-toolboard-box">
                  <div class="mxs-2 mys-2" *ngFor="let vasoDePrecipitados of this.vasoDePrecipitados" [cdkDragData]="vasoDePrecipitados"  cdkDrag>
                    <app-sim-item [iconSvg]="this.vasoDePrecipitados.icon" [vol]="this.vasoDePrecipitados.vol" [iconSvgClass]="this.vasoDePrecipitados.iconClass" [name]="this.vasoDePrecipitados.name" [id]="this.vasoDePrecipitados.id" [unit]="this.vasoDePrecipitados.unit" [volMax]="this.vasoDePrecipitados.volMax"></app-sim-item>
                  </div>
              </div>

            </mat-expansion-panel>
             <!-- Probetas -->
             <mat-expansion-panel class="mb-0 mat-elevation-z0">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    Probetas
                </mat-panel-title>
                <mat-panel-description fxFlex="20">
                  <mat-icon class="icon-size-description-panel" [svgIcon]="this.probetas[0].icon" ></mat-icon>
                </mat-panel-description>
                
              </mat-expansion-panel-header>
              <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end" class="mts-1 pbs-1 item-toolboard-box">
                  <div class="mxs-2 mys-2" *ngFor="let probeta of this.probetas" [cdkDragData]="probeta"  cdkDrag>
                    <app-sim-item [iconSvg]="this.probeta.icon" [vol]="this.probeta.vol" [iconSvgClass]="this.probeta.iconClass" [name]="this.probeta.name" [id]="this.probeta.id" [unit]="this.probeta.unit" [volMax]="this.probeta.volMax"></app-sim-item>
                  </div>
              </div>

            </mat-expansion-panel>
             <!-- Buretas -->
             <mat-expansion-panel class="mb-0 mat-elevation-z0">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    Buretas
                </mat-panel-title>
                <mat-panel-description fxFlex="20">
                  <mat-icon class="icon-size-description-panel" [svgIcon]="this.buretas[0].icon" ></mat-icon>
                </mat-panel-description>
                
              </mat-expansion-panel-header>
              <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end" class="mts-1 pbs-1 item-toolboard-box">
                  <div class="mxs-2 mys-2" *ngFor="let bureta of this.buretas" [cdkDragData]="bureta"  cdkDrag>
                    <app-sim-item [iconSvg]="this.bureta.icon" [vol]="this.bureta.vol" [iconSvgClass]="this.bureta.iconClass" [name]="this.bureta.name" [id]="this.bureta.id" [unit]="this.bureta.unit" [volMax]="this.bureta.volMax"></app-sim-item>
                  </div>
              </div>

            </mat-expansion-panel>
            <!-- ACIDOS -->
            <mat-expansion-panel class="mb-0 mat-elevation-z0">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    Ácidos
                </mat-panel-title>
                <mat-panel-description fxFlex="20">
                  <mat-icon class="icon-size-description-panel" [svgIcon]="this.acidosFuertes[0].icon"></mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <!-- ACIDOS FUERTES -->
              <mat-expansion-panel class="mb-0 mat-elevation-z0">
                <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                  <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                      Ácidos fuertes
                  </mat-panel-title>
                </mat-expansion-panel-header>
            
                <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end"  class="mts-1 pbs-1 item-toolboard-box">
                  <!-- <div  cdkDrag > -->
                    <div class="mxs-2 mys-2" *ngFor="let acido of this.acidosFuertes" [cdkDragData]="acido"   cdkDrag>
                      <app-sim-item [iconSvg]="this.acido.icon" [chemical]="this.acido.chemical" [chemicalConcentration]="this.acido.chemical?.concentration" [chemicalUnitConcentration]="this.acido.chemical.unitConcentration" [chemicalName]="this.acido.chemical.name"  [vol]="this.acido.vol" [iconSvgClass]="this.acido.iconClass" [name]="this.acido.name" [id]="this.acido.id" [unit]="this.acido.unit" [volMax]="this.acido.volMax"></app-sim-item>
  
                    </div>
                  <!-- </div> -->
                </div>
              </mat-expansion-panel>
              <!-- ACIDOS DEBILES -->
              <mat-expansion-panel class="mb-0 mat-elevation-z0">
                <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                  <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                      Ácidos debiles
                  </mat-panel-title>
                </mat-expansion-panel-header>
            
                <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end" class="mts-1 pbs-1 item-toolboard-box">

                    <div class="mxs-2 mys-2" *ngFor="let acido of this.acidosDebiles" [cdkDragData]="acido"  cdkDrag>
                      <app-sim-item [iconSvg]="this.acido.icon" [chemical]="this.acido.chemical" [chemicalConcentration]="this.acido.chemical?.concentration" [chemicalUnitConcentration]="this.acido.chemical.unitConcentration" [chemicalName]="this.acido.chemical.name"  [vol]="this.acido.vol" [iconSvgClass]="this.acido.iconClass" [name]="this.acido.name" [id]="this.acido.id" [unit]="this.acido.unit" [volMax]="this.acido.volMax"></app-sim-item>
  
                    </div>

                </div>
              </mat-expansion-panel>

            </mat-expansion-panel>
            <!-- BASES -->
            <mat-expansion-panel class="mb-0 mat-elevation-z0">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    Bases
                </mat-panel-title>
                <mat-panel-description fxFlex="20">
                  <mat-icon class="icon-size-description-panel" [svgIcon]="this.basesFuertes[0].icon"></mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <!-- BASES FUERTES -->
              <mat-expansion-panel class="mb-0 mat-elevation-z0">
                <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                  <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                      Bases Fuertes
                  </mat-panel-title>
                </mat-expansion-panel-header>
            
                <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end" class="mts-1 pbs-1 item-toolboard-box">

                    <div class="mxs-2 mys-2" *ngFor="let base of this.basesFuertes" [cdkDragData]="base"  cdkDrag>
                      <app-sim-item [iconSvg]="this.base.icon" [chemical]="this.base.chemical" [chemicalConcentration]="this.base.chemical?.concentration" [chemicalUnitConcentration]="this.base.chemical.unitConcentration" [chemicalName]="this.base.chemical.name" [vol]="this.base.vol" [iconSvgClass]="this.base.iconClass" [name]="this.base.name" [id]="this.base.id" [unit]="this.base.unit" [volMax]="this.base.volMax"></app-sim-item>
                    </div>

                </div>
              </mat-expansion-panel>
              <!-- BASES DEBILES -->
              <mat-expansion-panel class="mb-0 mat-elevation-z0">
                <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                  <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                      Bases Debiles
                  </mat-panel-title>
                </mat-expansion-panel-header>
            
                <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end" class="mts-1 pbs-1 item-toolboard-box">

                    <div class="mxs-2 mys-2" *ngFor="let base of this.basesDebiles" [cdkDragData]="base"  cdkDrag>
                      <app-sim-item [iconSvg]="this.base.icon" [chemical]="this.base.chemical" [chemicalConcentration]="this.base.chemical?.concentration" [chemicalUnitConcentration]="this.base.chemical.unitConcentration" [chemicalName]="this.base.chemical.name"  [vol]="this.base.vol" [iconSvgClass]="this.base.iconClass" [name]="this.base.name" [id]="this.base.id" [unit]="this.base.unit" [volMax]="this.base.volMax"></app-sim-item>
                    </div>

                </div>
              </mat-expansion-panel>

            </mat-expansion-panel>
            <!-- INSTRUMENTOS -->
            <mat-expansion-panel class="mb-0 mat-elevation-z0">
            <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
              <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                  Instrumentos
              </mat-panel-title>
              <mat-panel-description fxFlex="20">
                <mat-icon class="icon-size-description-panel" [svgIcon]="'chemTools'" ></mat-icon>
              </mat-panel-description>
              
            </mat-expansion-panel-header>
            <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end" class="mts-1 pbs-1 item-toolboard-box">
                <div class="mxs-2 mys-2" *ngFor="let instrument of this.instrumentos" [cdkDragData]="instrument"  cdkDrag>
                  <app-sim-item [iconSvg]="this.instrument.icon" [iconSvgClass]="this.instrument.iconClass" [showVol]="false" [vol]="this.instrument.vol" [name]="this.instrument.name" [id]="this.instrument.id" [unit]="this.instrument.unit" [volMax]="this.instrument.volMax"></app-sim-item>
                </div>
            </div>

          </mat-expansion-panel>
          
          </mat-accordion>
    </div>

    
    <!-- <mat-divider vertical style="height:inherit !important"></mat-divider> -->

    <!-- MESA DE TRABAJO -->

    <div fxFlex="70" class="img-overlay-side " cdkDropListGroup>
      <h1 fxLayout="row" fxLayoutAlign="start start" class="mbs-1 mls-3">Mesa de Trabajo</h1>
      <div cdkDropList cdkDropListOrientation="horizontal" id="table" class="table mxs-2 mys-1" (cdkDropListDropped)="dropTable($event)" [cdkDropListData]="this.itemsOnTable">
        <app-sim-item *ngFor="let item of this.itemsOnTable" class="example-box mrs-2 mls-2" (onClickDeleteEvent)="this.onClickDeleteItemFromArray($event,item)" [delete]="'true'" [iconSvg]="this.item.icon" [iconSvgClass]="this.item.iconClass" [name]="this.item.name" [id]="this.item.id" [unit]="this.item.unit" [volMax]="this.item.volMax" [vol]="this.item.vol" [chemicalConcentration]="this.item.chemical?.concentration" [chemicalUnitConcentration]="this.item.chemical?.unitConcentration" [chemicalName]="this.item.chemical?.name" [cdkDragData]="this.item" cdkDrag>
        </app-sim-item>

        
      </div>
      <div fxLayout="row" class="mys-5" fxLayoutAlign="space-around start" >

            <div fxFlex="35" fxLayout="column" fxLayoutAlign="center center">
              <span class="text-accent">Item 1</span>
              <div  class="box pys-2"
                cdkDropList
                id="item1"
                (cdkDropListDropped)="dropItem1($event) "
                [cdkDropListAutoScrollDisabled]="true" 
                [cdkDropListData]="this.item1"
                >
                <app-sim-item *ngIf="!!this.item1[0]" (onClickDeleteEvent)="this.onClickDeleteItem1($event,item1[0])"  [iconSvg]="this.item1[0].icon" [delete]="'true'" [iconSvgClass]="this.item1[0].iconClass" [name]="this.item1[0].name" [id]="this.item1[0].id" [unit]="this.item1[0].unit" [volMax]="this.item1[0].volMax" [vol]="this.item1[0].vol" [chemicalConcentration]="this.item1[0].chemical?.concentration" [chemicalUnitConcentration]="this.item1[0].chemical?.unitConcentration" [chemicalName]="this.item1[0].chemical?.name"  [cdkDragData]="this.item1[0]" cdkDrag></app-sim-item>
              </div>
            </div>
            <div  fxLayout="column" fxLayoutAlign="center center" class="middle-items">
              <ng-lottie [options]="optionsLottie" (animationCreated)="animationCreated($event)" style="width: 100px;" ></ng-lottie>
              <span class="text-accent " >Items a Interactuar</span>
              
            </div>
            <!-- <mat-icon fxFlex="15" fxLayout="row" fxLayoutAlign="center center"  class="mat-18 mts-5 text-primary middle-items">sync_alt</mat-icon>  -->
            <div fxFlex="35" fxLayout="column" fxLayoutAlign="center center">
              <span class="text-accent">Item 2</span>
              <div  class="box pys-2"  
                cdkDropList   
                id="item2" 
                (cdkDropListDropped)="dropItem2($event) " 
                [cdkDropListAutoScrollDisabled]="true"
                [cdkDropListData]="this.item2"
                >
                <app-sim-item  *ngIf="!!this.item2[0]" (onClickDeleteEvent)="this.onClickDeleteItem2($event,item2[0])" [iconSvg]="this.item2[0].icon" [delete]="'true'" [iconSvgClass]="this.item2[0].iconClass" [name]="this.item2[0].name" [id]="this.item2[0].id" [unit]="this.item2[0].unit" [volMax]="this.item2[0].volMax" [vol]="this.item2[0].vol" [chemicalConcentration]="this.item2[0].chemical?.concentration" [chemicalUnitConcentration]="this.item2[0].chemical?.unitConcentration" [chemicalName]="this.item2[0].chemical?.name"  [cdkDragData]="this.item2[0]"   cdkDrag></app-sim-item>
              </div>
            </div>
      </div>  

      <div fxLayout="row" fxLayoutAlign="center center" class="mys-4">
         <!-- ITEM 1 INFO -->
        <div *ngIf="!!this.item1[0]" fxFlex="25" fxLayout="column" fxLayoutAlign="center center" class="data-item1-box">
          <span *ngIf="!!this.item1[0].chemical" class="text-green-darker mbs-3" [innerHTML]="this.item1[0].chemical.name"></span>       
          <span class="text-accent mbs-3">{{this.item1[0].name}}</span> 
          <span class="text-accent mbs-3" *ngIf="this.item1[0].vol != null && this.item1[0].vol != undefined && this.item1[0].id != 300">{{this.item1[0].vol}}/{{this.item1[0].volMax}} {{this.item1[0].unit}}</span>
          <span class="text-accent mbs-3" *ngIf="!!this.item1[0].data">{{this.item1[0].data}}</span>
          <span class="text-accent mbs-3" *ngIf="!!this.item1[0].chemical?.description">{{this.item1[0].chemical.description}}</span>
        </div>
        <!-- ACTION PANEL -->
        <div fxFlex="50">

          <div *ngIf="!!this.item2[0] && !!this.item1[0]" fxLayout="column" fxLayoutAlign="space-around stretch"> 
            <!-- pH-metro TRUE -->
            <div *ngIf="this.phMetro" fxLayout="column" fxLayoutAlign="center center">
              <span class="text-green-darker" class="mbs-2">Lectura del visor</span>
              <h3 *ngIf="this.item2[0].chemical?.pH !=null && this.item2[0].chemical?.pH !=undefined" class="text-accent">{{"pH: " + this.item2[0].chemical.pH }}</h3>
              <h3 *ngIf="this.item1[0].chemical?.pH!=null && this.item1[0].chemical?.pH!=undefined" class="text-accent">{{"pH: " +this.item1[0].chemical.pH }}</h3>
              
            </div>    
            <!-- Ph-metro FALSE -->
            <div *ngIf="!this.phMetro" fxLayout="column" fxLayoutAlign="space-around stretch">
              <div fxLayout="row" fxLayoutAlign="center center" style="height: 110px;">
                <!-- RADIO BUTTONS (VERTER/RETIRAR) -->
                <div  fxFlex="40" fxLayout="column" fxLayoutAlign="center center"> 
                  <h3 class="mbs-0">Verter</h3>
                  <mat-radio-group  class="mls-3"  fxLayout="column" fxLayoutAlign="space-around center"  aria-label="Select an option"  (change)="this.onChangeRadio($event)">
                    <mat-radio-button  [disabled]="!this.canWithdraw" color="primary"  value="1 "> <mat-icon class="mts-2 material-icons-18 text-primary" [ngClass]="{'text-secondary': !this.canWithdraw}">east</mat-icon></mat-radio-button>
                    <mat-radio-button [disabled]="!this.canPour" color="primary" value="2"> <mat-icon class="mts-2 material-icons-18 text-primary" [ngClass]="{'text-secondary': !this.canPour}">west</mat-icon></mat-radio-button>
                  </mat-radio-group>
                </div>
                 
                  <!-- Quantity Input and Slider -->
                  <div class=" mxs-3" fxFlex="60" fxLayout="row" fxLayoutAlign="space-around end"> 
                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-around center">
                      <mat-form-field  fxFlex="35" fxFlex.lt-lg="100" class="mts-5" appearance="outline">
                        <mat-label>Cantidad (mL)</mat-label>
                        <input matInput type="number" [(ngModel)]="valueVol" >
                      </mat-form-field>
                        <mat-slider fxShow fxHide.lt-lg
                        [color]="'primary'"
                        thumbLabel
                        tickInterval="250"
                        min="1"
                        max="250"
                        [(ngModel)]="valueVol"
                      ></mat-slider>
                    </div>                   
                  </div>
              </div>
              <!-- ACTION Button -->
              <div  fxLayout="row" fxLayoutAlign="center center" class="mys-5">
                <button *ngIf="this.pour!=null && this.pour!=undefined && this.pour" [disabled]="!this.canPour" fxFlex="25" mat-stroked-button color="accent" (click)="this.onClickPourOrWithdraw()" disa>Verter<mat-icon class="mls-1 mts-1 material-icons-18 text-primary">west</mat-icon></button>
                <button *ngIf="this.pour!=null && this.pour!=undefined && !this.pour" [disabled]="!this.canWithdraw" fxFlex="25" mat-stroked-button color="accent" (click)="this.onClickPourOrWithdraw()" disa>Verter<mat-icon class="mls-1 mts-1 material-icons-18 text-primary">east</mat-icon></button>
              </div>
              <!-- SPAN TEXT -->
              <div *ngIf="(this.canWithdraw || this.canPour) && this.radioButtonOn">
                <div fxLayout="row wrap" fxLayoutAlign="center start" >
                  <span class="my-0 mx-0">{{(!!this.pour && this.pour  ? 'Verter a ' : 'Verter de ')+ this.item1[0].name}}</span> <span class="text-primary"><sub>1 &nbsp; </sub></span><span>{{(!!this.pour && this.pour ? ' de ' : ' a ')+this.item2[0].name}}</span><span class="text-primary"><sub>2</sub></span>
                </div>
              </div>
              
              
            </div>      
            <!-- alertas -->
            <div *ngIf="this.alertQuantityInvalid" class="mys-2" fxLayout="row " fxLayoutAlign="center center">
              <mat-icon  class="material-icons-18 text-warn mts-1">report_problem</mat-icon>
              <span class="text-accent">{{ this.stringAlert}}</span>
            </div>
            <div *ngIf="this.alert2Solutions " class="mys-2" fxLayout="row " fxLayoutAlign="center center">
              <mat-icon  class="material-icons-18 text-warn mts-1">report_problem</mat-icon>
              <span class="text-accent">Se soportan solo dos sustancia por solución</span>
            </div>
            <div *ngIf="this.alertMatrazQuantityInvalid" class="mys-2" fxLayout="row " fxLayoutAlign="center center">
              <mat-icon  class="material-icons-18 text-warn mbs-2">report_problem</mat-icon>
              <span class="text-accent" style="text-align: center;">En un matraz aforado no se debe colocar un volumen mayor al de su aforo</span>
            </div>
          </div>
        </div>
        <!-- ITEM 2 INFO -->
        <div *ngIf="!!this.item2[0]" fxFlex="25" fxLayout="column" fxLayoutAlign="center center" class="data-item2-box">
          <span *ngIf="!!this.item2[0].chemical" class="text-green-darker mbs-3" [innerHTML]="this.item2[0].chemical.name"></span>      
          <span class="text-accent mbs-3">{{this.item2[0].name}}</span> 
          <span class="text-accent mbs-3" *ngIf="this.item2[0].vol != null && this.item2[0].vol != undefined && this.item2[0].id != 300">{{this.item2[0].vol}}/{{this.item2[0].volMax}} {{this.item2[0].unit}}</span>
          <span class="text-accent mbs-3" *ngIf="!!this.item2[0].data">{{this.item2[0].data}}</span>
          <span class="text-accent mbs-3" *ngIf="!!this.item2[0].chemical?.description">{{this.item2[0].chemical.description}}</span>
        </div>
      </div>
    </div>
</mat-card>


<div *ngIf="!this.savingExperiment" fxLayout="column" fxLayoutAlign="center center" class="mbs-3">
  <span *ngIf="!this.firstSave" class="text-secondary mbs-2">{{'Trabajando en '+this.actualExperiment.title+' .Último guardado: '+this.actualExperiment.date}} </span>
  <button mat-raised-button color="primary"  (click)="this.onClickSaveExperiment()" >Guardar</button>
</div>

<div *ngIf="this.savingExperiment" fxLayout="column" fxLayoutAlign="center center" class="mbs-5">
  <mat-spinner diameter="50"></mat-spinner>
  <!-- <ng-lottie fxFlex="100" fxFlexOffset="15" [options]="optionsLottie" (animationCreated)="animationCreated($event)" style="width: 200px; max-width: 80vw;" ></ng-lottie> -->
</div>