<mat-card fxLayout="row" fxLayoutAlign="start start" class="mxs-5 mys-5  sim-container" >

    <!-- ARMARIO -->
    <div fxFlex="30" class="mrs-3 prs-2 box-toolboard">
        <h1>Armario</h1>
        <mat-accordion  >
            <!-- MATRACES -->
            <mat-expansion-panel class="mb-0 mat-elevation-z0">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    Matraces
                </mat-panel-title>
                <mat-panel-description fxFlex="20">
                  <mat-icon class="icon-size-description-panel" [svgIcon]="this.matrazAforado100.icon" ></mat-icon>
                </mat-panel-description>
                
              </mat-expansion-panel-header>
              <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end" class="mts-1 pbs-1 item-toolboard-box">
                  <div class="mxs-2 mys-2"  [cdkDragData]="this.matrazAforado100" cdkDrag>
                      <app-sim-item [iconSvg]="this.matrazAforado100.icon" [vol]="0"  [name]="this.matrazAforado100.name" [id]="this.matrazAforado100.id" [unit]="this.matrazAforado100.unit" [volMax]="this.matrazAforado100.volMax"></app-sim-item>
                  </div>
                  <div class="mxs-2 mys-2"  [cdkDragData]="this.matrazAforado250" cdkDrag>
                    <app-sim-item [iconSvg]="this.matrazAforado250.icon" [vol]="0" [name]="this.matrazAforado250.name" [id]="this.matrazAforado250.id" [unit]="this.matrazAforado250.unit" [volMax]="this.matrazAforado250.volMax"></app-sim-item>
                  </div>
                  <div class="mxs-2 mys-2"  [cdkDragData]="this.matrazAforado1000" cdkDrag>
                      <app-sim-item [iconSvg]="this.matrazAforado1000.icon" [vol]="0" [name]="this.matrazAforado1000.name" [id]="this.matrazAforado1000.id " [unit]="this.matrazAforado1000.unit" [volMax]="this.matrazAforado1000.volMax"></app-sim-item>
                  </div>
              </div>
            </mat-expansion-panel>
             <!-- PIPETAS -->
             <mat-expansion-panel class="mb-0 mat-elevation-z0">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    Pipetas
                </mat-panel-title>
                <mat-panel-description fxFlex="20">
                  <mat-icon class="icon-size-description-panel" [svgIcon]="this.pipeta5.icon" ></mat-icon>
                </mat-panel-description>
                
              </mat-expansion-panel-header>
              <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end"class="mts-1 pbs-1 item-toolboard-box">
                  <div class="mxs-2 mys-2" [cdkDragData]="this.pipeta5"  cdkDrag>
                    <app-sim-item [iconSvg]="this.pipeta5.icon" [vol]="0" [iconSvgClass]="this.pipeta5.iconClass" [name]="this.pipeta5.name" [id]="this.pipeta5.id" [unit]="this.pipeta5.unit" [volMax]="this.pipeta5.volMax"></app-sim-item>
                  </div>
                  <div class="mxs-2 mys-2" [cdkDragData]="this.pipeta10"  cdkDrag>
                    <app-sim-item [iconSvg]="this.pipeta10.icon" [vol]="0" [iconSvgClass]="this.pipeta10.iconClass" [name]="this.pipeta10.name" [id]="this.pipeta10.id" [unit]="this.pipeta10.unit" [volMax]="this.pipeta10.volMax"></app-sim-item>
                  </div>
                  <div class="mxs-2 mys-2" [cdkDragData]="this.pipeta25"  cdkDrag>
                    <app-sim-item [iconSvg]="this.pipeta25.icon" [vol]="0" [iconSvgClass]="this.pipeta25.iconClass" [name]="this.pipeta25.name" [id]="this.pipeta25.id" [unit]="this.pipeta25.unit" [volMax]="this.pipeta25.volMax"></app-sim-item>
                  </div>
              </div>

            </mat-expansion-panel>
             <!-- ERLENMEYER -->
             <mat-expansion-panel class="mb-0 mat-elevation-z0">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    Erlenmeyers
                </mat-panel-title>
                <mat-panel-description fxFlex="20">
                  <mat-icon class="icon-size-description-panel" [svgIcon]="this.erlenmeyer250.icon" ></mat-icon>
                </mat-panel-description>
                
              </mat-expansion-panel-header>
              <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end" class="mts-1 pbs-1 item-toolboard-box">
                  <div class="mxs-2 mys-2" [cdkDragData]="this.erlenmeyer250"  cdkDrag>
                    <app-sim-item [iconSvg]="this.erlenmeyer250.icon" [vol]="0" [iconSvgClass]="this.erlenmeyer250.iconClass" [name]="this.erlenmeyer250.name" [id]="this.erlenmeyer250.id" [unit]="this.erlenmeyer250.unit" [volMax]="this.erlenmeyer250.volMax"></app-sim-item>
                  </div>
                  <div class="mxs-2 mys-2" [cdkDragData]="this.erlenmeyer500"  cdkDrag>
                    <app-sim-item [iconSvg]="this.erlenmeyer500.icon" [vol]="0" [iconSvgClass]="this.erlenmeyer500.iconClass" [name]="this.erlenmeyer500.name" [id]="this.erlenmeyer500.id" [unit]="this.erlenmeyer500.unit" [volMax]="this.erlenmeyer500.volMax"></app-sim-item>
                  </div>
                  <div class="mxs-2 mys-2" [cdkDragData]="this.erlenmeyer1000"  cdkDrag>
                    <app-sim-item [iconSvg]="this.erlenmeyer1000.icon" [vol]="0" [iconSvgClass]="this.erlenmeyer1000.iconClass" [name]="this.erlenmeyer1000.name" [id]="this.erlenmeyer1000.id" [unit]="this.erlenmeyer1000.unit" [volMax]="this.erlenmeyer1000.volMax"></app-sim-item>
                  </div>
              </div>

            </mat-expansion-panel>
             <!-- Vaso de Precipitados -->
             <mat-expansion-panel class="mb-0 mat-elevation-z0">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    Vaso de Precipitados
                </mat-panel-title>
                <mat-panel-description fxFlex="20">
                  <mat-icon class="icon-size-description-panel" [svgIcon]="this.vasoDePrecipitados100.icon" ></mat-icon>
                </mat-panel-description>
                
              </mat-expansion-panel-header>
              <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end" class="mts-1 pbs-1 item-toolboard-box">
                  <div class="mxs-2 mys-2" [cdkDragData]="this.vasoDePrecipitados100"  cdkDrag>
                    <app-sim-item [iconSvg]="this.vasoDePrecipitados100.icon" [vol]="0" [iconSvgClass]="this.vasoDePrecipitados100.iconClass" [name]="this.vasoDePrecipitados100.name" [id]="this.vasoDePrecipitados100.id" [unit]="this.vasoDePrecipitados100.unit" [volMax]="this.vasoDePrecipitados100.volMax"></app-sim-item>
                  </div>
                  <div class="mxs-2 mys-2" [cdkDragData]="this.vasoDePrecipitados250"  cdkDrag>
                    <app-sim-item [iconSvg]="this.vasoDePrecipitados250.icon" [vol]="0" [iconSvgClass]="this.vasoDePrecipitados250.iconClass" [name]="this.vasoDePrecipitados250.name" [id]="this.vasoDePrecipitados250.id" [unit]="this.vasoDePrecipitados250.unit" [volMax]="this.vasoDePrecipitados250.volMax"></app-sim-item>
                  </div>
                  <div class="mxs-2 mys-2" [cdkDragData]="this.vasoDePrecipitados500"  cdkDrag>
                    <app-sim-item [iconSvg]="this.vasoDePrecipitados500.icon" [vol]="0" [iconSvgClass]="this.vasoDePrecipitados500.iconClass" [name]="this.vasoDePrecipitados500.name" [id]="this.vasoDePrecipitados500.id" [unit]="this.vasoDePrecipitados500.unit" [volMax]="this.vasoDePrecipitados500.volMax"></app-sim-item>
                  </div>
                  <div class="mxs-2 mys-2" [cdkDragData]="this.vasoDePrecipitados1000"  cdkDrag>
                    <app-sim-item [iconSvg]="this.vasoDePrecipitados1000.icon" [vol]="0" [iconSvgClass]="this.vasoDePrecipitados1000.iconClass" [name]="this.vasoDePrecipitados1000.name" [id]="this.vasoDePrecipitados1000.id" [unit]="this.vasoDePrecipitados1000.unit" [volMax]="this.vasoDePrecipitados1000.volMax"></app-sim-item>
                  </div>
              </div>

            </mat-expansion-panel>
             <!-- Probetas -->
             <mat-expansion-panel class="mb-0 mat-elevation-z0">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    Probetas
                </mat-panel-title>
                <mat-panel-description fxFlex="20">
                  <mat-icon class="icon-size-description-panel" [svgIcon]="this.probeta10.icon" ></mat-icon>
                </mat-panel-description>
                
              </mat-expansion-panel-header>
              <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end" class="mts-1 pbs-1 item-toolboard-box">
                  <div class="mxs-2 mys-2" [cdkDragData]="this.probeta10"  cdkDrag>
                    <app-sim-item [iconSvg]="this.probeta10.icon" [vol]="0" [iconSvgClass]="this.probeta10.iconClass" [name]="this.probeta10.name" [id]="this.probeta10.id" [unit]="this.probeta10.unit" [volMax]="this.probeta10.volMax"></app-sim-item>
                  </div>
                  <div class="mxs-2 mys-2" [cdkDragData]="this.probeta25"  cdkDrag>
                    <app-sim-item [iconSvg]="this.probeta25.icon" [vol]="0" [iconSvgClass]="this.probeta25.iconClass" [name]="this.probeta25.name" [id]="this.probeta25.id" [unit]="this.probeta25.unit" [volMax]="this.probeta25.volMax"></app-sim-item>
                  </div>
                  <div class="mxs-2 mys-2" [cdkDragData]="this.probeta50"  cdkDrag>
                    <app-sim-item [iconSvg]="this.probeta50.icon" [vol]="0" [iconSvgClass]="this.probeta50.iconClass" [name]="this.probeta50.name" [id]="this.probeta50.id" [unit]="this.probeta50.unit" [volMax]="this.probeta50.volMax"></app-sim-item>
                  </div>
                  <div class="mxs-2 mys-2" [cdkDragData]="this.probeta100"  cdkDrag>
                    <app-sim-item [iconSvg]="this.probeta100.icon" [vol]="0" [iconSvgClass]="this.probeta100.iconClass" [name]="this.probeta100.name" [id]="this.probeta100.id" [unit]="this.probeta100.unit" [volMax]="this.probeta100.volMax"></app-sim-item>
                  </div>
              </div>

            </mat-expansion-panel>
             <!-- Buretas -->
             <mat-expansion-panel class="mb-0 mat-elevation-z0">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    Buretas
                </mat-panel-title>
                <mat-panel-description fxFlex="20">
                  <mat-icon class="icon-size-description-panel" [svgIcon]="this.bureta10.icon" ></mat-icon>
                </mat-panel-description>
                
              </mat-expansion-panel-header>
              <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end" class="mts-1 pbs-1 item-toolboard-box">
                  <div class="mxs-2 mys-2" [cdkDragData]="this.bureta10"  cdkDrag>
                    <app-sim-item [iconSvg]="this.bureta10.icon" [vol]="0" [iconSvgClass]="this.bureta10.iconClass" [name]="this.bureta10.name" [id]="this.bureta10.id" [unit]="this.bureta10.unit" [volMax]="this.bureta10.volMax"></app-sim-item>
                  </div>
                  <div class="mxs-2 mys-2" [cdkDragData]="this.bureta25"  cdkDrag>
                    <app-sim-item [iconSvg]="this.bureta25.icon" [vol]="0" [iconSvgClass]="this.bureta25.iconClass" [name]="this.bureta25.name" [id]="this.bureta25.id" [unit]="this.bureta25.unit" [volMax]="this.bureta25.volMax"></app-sim-item>
                  </div>
                  <div class="mxs-2 mys-2" [cdkDragData]="this.bureta50"  cdkDrag>
                    <app-sim-item [iconSvg]="this.bureta50.icon" [vol]="0" [iconSvgClass]="this.bureta50.iconClass" [name]="this.bureta50.name" [id]="this.bureta50.id" [unit]="this.bureta50.unit" [volMax]="this.bureta50.volMax"></app-sim-item>
                  </div>
              </div>

            </mat-expansion-panel>
            
            <mat-expansion-panel class="mb-0 mat-elevation-z0">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    Ácidos
                </mat-panel-title>
                <mat-panel-description fxFlex="20">
                  <mat-icon class="icon-size-description-panel" [svgIcon]="this.acidoAcetico.icon"></mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
          
              <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end" class="mts-1 pbs-1 item-toolboard-box">
                <div  cdkDrag>
                  <div class="mxs-2 mys-2" [cdkDragData]="this.acidoAcetico"  cdkDrag>
                    <app-sim-item [iconSvg]="this.acidoAcetico.icon" [chemical]="this.acidoAceticoChemical"  [vol]="this.acidoAcetico.volMax" [iconSvgClass]="this.acidoAcetico.iconClass" [name]="this.acidoAcetico.name" [id]="this.acidoAcetico.id" [unit]="this.acidoAcetico.unit" [volMax]="this.acidoAcetico.volMax"></app-sim-item>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel class="mb-0 mat-elevation-z0">
              <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="center center" style="min-height: 60px;">
                <mat-panel-title fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    Bases
                </mat-panel-title>
                <mat-panel-description fxFlex="20">
                  <mat-icon class="icon-size-description-panel" [svgIcon]="this.baseBorax.icon"></mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
          
              <div cdkDropList  [cdkDropListConnectedTo]="['item1','item2','table']" fxLayout="row wrap" fxLayoutAlign="space-around end" class="mts-1 pbs-1 item-toolboard-box">
                <div  cdkDrag>
                  <div class="mxs-2 mys-2" [cdkDragData]="this.acidoAcetico"  cdkDrag>
                    <app-sim-item [iconSvg]="this.baseBorax.icon" [chemical]="this.baseBoraxChemical"  [vol]="this.baseBorax.volMax" [iconSvgClass]="this.baseBorax.iconClass" [name]="this.baseBorax.name" [id]="this.baseBorax.id" [unit]="this.baseBorax.unit" [volMax]="this.baseBorax.volMax"></app-sim-item>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          
            <mat-expansion-panel class="mb-0 mat-elevation-z0">
                <mat-expansion-panel-header fxLayout="row">
                  <mat-panel-title fxFlex="80">
                      Instrumentos
                  </mat-panel-title>
                  <mat-panel-description fxFlex="20">
                    <mat-icon svgIcon="chemTools"></mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
            
                <div cdkDropList class="mts-1 pbs-1 item-toolboard-box">
                  <div  cdkDrag>
                      Probeta
                  </div>
                </div>
              </mat-expansion-panel>
          
          </mat-accordion>
    </div>

    
    <!-- <mat-divider vertical style="height:inherit !important"></mat-divider> -->

    <!-- MESA DE TRABAJO -->

    <div fxFlex="70" class="img-overlay-side " cdkDropListGroup>
      <h1 fxLayout="row" fxLayoutAlign="start start" class="mbs-1 mls-3">Mesa de Trabajo</h1>
      <div cdkDropList cdkDropListOrientation="horizontal" id="table" class="table mxs-2 mys-1" (cdkDropListDropped)="dropTable($event)" [cdkDropListData]="this.itemsOnTable">
        <app-sim-item *ngFor="let item of this.itemsOnTable" class="example-box mrs-1"  [iconSvg]="this.item.icon" [iconSvgClass]="this.item.iconClass" [name]="this.item.name" [id]="this.item.id" [unit]="this.item.unit" [volMax]="this.item.volMax" [cdkDragData]="this.item" cdkDrag></app-sim-item>
        
      </div>
      <div fxLayout="row" class="mts-5" fxLayoutAlign="space-around start" >
            <div fxFlex="25" fxLayout="row" fxLayoutAlign="center center" class="middle-items">
              <ng-lottie [options]="optionsLottie" (animationCreated)="animationCreated($event)" style="width: 100px;" ></ng-lottie>
              <span class="text-accent mts-3" >Items a Interactuar</span>
              <!-- <mat-icon class="mat-18 text-primary">sync_alt</mat-icon> -->
              
            </div>
            <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
              <span class="text-accent">Item 1</span>
              <div  class="box pys-2"
                cdkDropList
                id="item1"
                (cdkDropListDropped)="dropItem1($event) "
                [cdkDropListAutoScrollDisabled]="true" 
                [cdkDropListData]="this.item1"
                >
                <app-sim-item *ngIf="!!this.item1[0]"  [iconSvg]="this.item1[0].icon" [iconSvgClass]="this.item1[0].iconClass" [name]="this.item1[0].name" [id]="this.item1[0].id" [unit]="this.item1[0].unit" [volMax]="this.item1[0].volMax"  [cdkDragData]="this.item1[0]" cdkDrag></app-sim-item>
              </div>
            </div>
            <mat-icon fxFlex="15" fxLayout="row" fxLayoutAlign="center center"  class="mat-18 text-primary middle-items">sync_alt</mat-icon> 
            <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
              <span class="text-accent">Item 2</span>
              <div  class="box pys-2"  
                cdkDropList   
                id="item2" 
                (cdkDropListDropped)="dropItem2($event) " 
                [cdkDropListAutoScrollDisabled]="true"
                [cdkDropListData]="this.item2"
                >
                <app-sim-item  *ngIf="!!this.item2[0]" [iconSvg]="this.item2[0].icon" [iconSvgClass]="this.item2[0].iconClass" [name]="this.item2[0].name" [id]="this.item2[0].id" [unit]="this.item2[0].unit" [volMax]="this.item2[0].volMax"  [cdkDragData]="this.item2[0]"   cdkDrag></app-sim-item>
              </div>
            </div>
      </div>  

    </div>
</mat-card>