
.box{
    height: 95px;
    width: auto;
    min-width: 150px;
    border-width: 3px;
    border-style: solid;
    overflow: hidden;
    border-image: 
        linear-gradient(
        to bottom, 
        #41ffaf, 
        rgba(0, 0, 0, 0)
        ) 1 100%;
      
}
.middle-items{
  height: 80px;
}
.table {
    max-width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    background: white;
    overflow: hidden;
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #41ffaf, #e8fff5 );
  }

  .example-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;


  }

  .icon-size-description-panel {
 
    font-size: 40px;
    width: 40px;
    height: 40px;
    min-height: 40px;
}

.box-toolboard{
  border-right-width: 3px;
  border-left-width: 0px;
  border-style: solid;
  border-image: 
      linear-gradient(
      to bottom, 
      #41ffaf, 
      rgba(0, 0, 0, 0)
      ) 1 100%;
}

.item-toolboard-box{
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #41ffaf, #e8fff5 );
}

.data-item1-box{
  height: auto;
  border-right-width: 3px;
  border-left-width: 0px;
  border-style: solid;
  overflow: hidden;
  border-image: 
      linear-gradient(
      to bottom, 
      #41ffaf, 
      rgba(0, 0, 0, 0)
      ) 1 100%;
}

.data-item2-box{
  height: auto;
  border-right-width: 0px;
  border-left-width: 3px;
  border-style: solid;
  overflow: hidden;
  border-image: 
      linear-gradient(
      to bottom, 
      #41ffaf, 
      rgba(0, 0, 0, 0)
      ) 1 100%;
}
  

  
 



 