<!-- <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Reset Password</h3>
  
        <p class="text-center">Please enter your email address to request a password reset.</p>
  
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
        </div>
  
       
        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
  
      <div class="redirectToLogin">
        <span>Go back to ? <span class="redirect" routerLink="">Log In</span></span>
      </div>
  
    </div>
  </div> -->

  <div fxLayout="column" fxLayoutAlign="center center">
    <ng-lottie [options]="optionsLottie" (animationCreated)="animationCreated($event)" style="width: 300px; max-width: 80vw;" ></ng-lottie>
  </div>
  
  <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center">
          <h1 class=" mat-h1 text-primary ">Recupera tu contraseña</h1>
    
          <div fxLayout="row" fxLayoutAlign="center start" class="mat-h3">Porfavor ingresa tu email para solicitar el cambio de contraseña</div>
          
          <form  class="mys-5" [formGroup]="form" fxLayout="column" (submit)="onForgotPw()">
            <div fxLayout="row" fxLayoutAlign="center center" >
              <mat-form-field style="min-width: 300px;">
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error>
                  Ingrese un email válido porfavor
                </mat-error>
              </mat-form-field>
              <button  mat-raised-button color="primary" type="submit" class="mls-5">Recuperar</button>
            </div>            
          </form>
    
        </div>
    
        <div fxLayout="row" fxLayoutAlign="center center" >
          <h3 class="mbs-0">Volver al Inicio</h3><button mat-icon-button class="redirect" routerLink="" class="text-green-darker-darker"><mat-icon class="mat-18 mbs-1">reply</mat-icon> </button>
        </div>
  </div>
