<!-- <div class="example-boundary">
    
    
    <div
    cdkDropList
    #todoList="cdkDropList"

    [cdkDropListConnectedTo]="['group']"
    class="example-list"
   >
    <mat-icon #element1   cdkDrag>
        accessibility
    </mat-icon>
    <div
    cdkDropList
    #doneList="cdkDropList"

    [cdkDropListConnectedTo]="['group']"
    class="example-list"
    >
    
  </div>


  </div>
  <mat-icon #element2   cdkDrag>
    accessible
    </mat-icon>
</div>

<div style="height: 300px; border: solid;">
    <div cdkDropListGroup >
        
        <div cdkDropList id="group" [cdkDropListData]="elementsInTable" (cdkDropListDropped)="drop($event)">
            <mat-icon    cdkDrag>
                accessible
            </mat-icon> 
        </div>
    </div>
</div> -->
<div  fxLayout="column" fxLayoutAlign="center center" style="height: 100%;">
    <button mat-raised-button color="primary" [routerLink]="['../sim']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" (click)="this.onClickNewExperiment()">Iniciar Experimento</button>
</div>




