::ng-deep .tooltip {
    color: white!important;
    background: #b280da!important;

    font-size: 15px;
  }

.footer{
  background-color:  #009762 !important;

}
.sim{
  overflow: visible !important;
}

