
<div fxLayout="row" class="content">
  <div fxHide fxShow.gt-sm fxFlex="25" fxLayout="column wrap"
      [style.background-image]="'url(./../../../../../assets/vertical-login.jpg)'"
      fxLayoutAlign="space-between center" class="img-overlay-side">

  </div>





  <div fxLayout="column" fxFlex.lt-md="100" fxFlex.gt-sm="75"  fxLayoutAlign="space-around center" fxFlexOrder.lt-md="2"
   style="background-color: white"  >
    <div   fxLayout="column wrap" fxLayoutAlign="center center" class="pys-1">
      <img  src="assets/logos/logoSawql.png" class="logo2 pbs-2"  />
      <h3 class="text-green-darker mb-0 pbs-2"> SIMULADOR DE OPERACIONES QUÍMICAS DE LABORATORIO </h3>
    </div>
    <div class=" pxs-5 " fxLayout="column" fxLayoutAlign="start stretch" >
      <ng-container *ngIf="!this.authService.loadingSignIn; else loadingSignIn">
        <mat-card  style="min-width: 350px;">
          <mat-card-content >
            <!-- Google LogIn -->
            <div fxLayout="column" fxLayoutAlign="center center" class="pys-2">
                <span  class="mat-h1 text-green-darker mbs-0 pbs-2">Inicia sesión con Google</span>
                <button mat-icon-button  color="accent" aria-label="Google LogIn" (click)="this.onClickGoogleLogIn()">
                  <mat-icon svgIcon="google" class="google-icon"></mat-icon>
                </button>    
            </div>
            <h3 fxLayout="row" fxLayoutAlign="center center" class="text-green-darker mbs-0 pbs-2">O</h3>
            <form [formGroup]="form" fxLayout="column" (submit)="onLogin()">
              <!-- <mat-error *ngIf="loginInvalid">
                The username and password were not recognised
              </mat-error> -->
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex="75" >
                  <input matInput placeholder="Email" formControlName="email" required>
                  <mat-error>
                    Ingrese un email válido porfavor
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-form-field fxFlex="75">
                  <input matInput type="password" placeholder="password" formControlName="password" required>
                  <mat-error>
                    Ingrese una contraseña válida porfavor
                  </mat-error>
                </mat-form-field>
              </div>
              
              <div fxLayout="row" fxLayoutAlign="center center" class="pts-2">
                <button fxFlex="20" mat-raised-button color="primary" type="submit">Login</button>
              </div>
            </form>
            <div fxLayout="row" fxLayoutAlign="center center" class="pts-4 pbs-2">
              <button mat-button class="text-green-darker" routerLink="forgot-password">¿Olvidaste tu contraseña?</button>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" class="pys-2">
              <span>¿No tienes una cuenta? <button mat-button  class="redirect text-green-darker" (click)="this.openDialog($event)">Registrate</button></span>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <ng-template #loadingSignIn>
        <div fxLayout="column" fxLayoutAlign="center center">
          <ng-lottie [options]="optionsLottie" (animationCreated)="animationCreated($event)" style="width: 300px; max-width: 80vw;" ></ng-lottie>
        </div>
      </ng-template>
      
    </div>
    
    <div fxLayoutAlign="center center" fxLayout="column" >
      <img  src="assets/logos/logoFiunmdp.jpg" class="logo"   />
    </div>
  </div>
</div>



  




