

.icon-size {
 
      font-size: 65px;
      width: 65px;
      height: 65px;
      min-height: 65px;
  }

  .material-icons-18 { 
    font-size: 18px;
         width:18px;
       height: 18px;
 }
 .material-icons-50 { 
    font-size: 50px;
         width:50px;
       height: 50px;
 }
 .material-icons-75 { 
    font-size: 75px;
         width:75px;
       height: 75px;
 }
 .material-icons-100 { 
    font-size: 100px;
         width:100px;
       height: 100px;
 }

 .container-item{
  cursor: move;

 }

 ::ng-deep .tooltip{
  white-space: pre-line;
  
 }

.delete-icon{
  font-size: 30px;
      width: 30px;
      height: 30px;
      min-height: 30px;
 }
 .delete-icon-icon{
  // font-size: 25px;
  //     width: 25px;
  //     height: 25px;
  //     min-height: 25px;
  transform: 0.2;
 }

.delete-icon  ::ng-deep .mat-button-wrapper{
   padding: 0;
 }

 .container-delete{
  display: none!important;
  position: absolute;
  margin-bottom: 5rem;
   margin-left: 4rem;
}
.container-item:hover .container-delete{
 display: block!important;
}

