<!-- <div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>Sign Up</h3>
  
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
        </div>
  
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPwd required>
        </div>
  
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">
        </div>
  
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>
  
        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Continue with Google
          </button>
        </div>
  
      </div>
  
      <div class="redirectToLogin">
        <span>Already have an account? <span class="redirect" routerLink="">Log In</span></span>
      </div>
    </div>
  
  </div> -->

  <div fxLayout="column" fxLayoutAlign="center stretch">
    <div fxLayout="row" fxLayoutAlign="end end" >
        <button mat-icon-button mat-dialog-close >
          <mat-icon class="mat-18" class="text-green-darker">disabled_by_default</mat-icon>
        </button>
    </div>
    <span fxLayout="row" fxLayoutAlign="center start"  class="mat-h1 text-green-darker mbs-0">Registrate con tu email y una contraseña</span>
    <form  class="mys-5" [formGroup]="form" fxLayout="column" (submit)="onSignUp()">
      <!-- <mat-error *ngIf="loginInvalid">
        The username and password were not recognised
      </mat-error> -->
      <div fxLayout="row" fxLayoutAlign="center center" >
        <mat-form-field style="min-width: 300px;">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error>
            Ingrese un email válido porfavor
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field style="min-width: 300px;">
          <input matInput type="password" placeholder="password" formControlName="password" required>
          <mat-error>
            Ingrese una contraseña válida porfavor
          </mat-error>
        </mat-form-field>
      </div>
      
      <div fxLayout="row" fxLayoutAlign="center center" class="mts-2">
        <button  mat-raised-button mat-dialog-close color="primary" type="submit">Confirmar</button>
      </div>
    </form>
    <h3 fxLayout="row" fxLayoutAlign="center center" class="mbs-0 text-green-darker">O</h3>
        <!-- Google LogIn --> 
     <div fxLayout="column" fxLayoutAlign="center center" >
        <span  class=" text-green-darker">Inicia sesión con Google</span>
        <button mat-icon-button  color="accent" aria-label="Google LogIn" (click)="this.onClickGoogleLogIn()">
          <mat-icon svgIcon="google" class="google-icon"></mat-icon>
        </button>    
     </div> 

  </div>
